
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
*:focus {outline: 0;}

h1,h2,h3,h4,h5,p{
	color: #333;
	font-family: 'Lato', sans-serif;
}

img {
	margin: 0 auto;
	max-width:100%;
}

p {
	font-family: 'Lora', serif;
}

body {
	background-color:#fff;
	color:#333;
}

.page-wrapper {
	max-width:1280px;
	margin: 0 auto;
	min-width:1100px;
}

.intro {
	margin-bottom:40px;
	.wrapper {
		h1,p {
			text-align:center;
		}
	}
}

.navigation {
	background-color:rgb(243, 244, 244);
	padding:10px 60px;
	.inner {
		display:flex;
		align-items:center;

		.logo {
			align-self:flex-start;
		}

		.nav-wrapper {
			display:flex;
			justify-content:center;
			align-items:center;
			margin: 0 auto;

			div {
				margin: 0 20px;
			}
		}
	}
}

.carousel-item {
	background-size:cover;
	overflow:hidden;

	.wrapper {
		height:500px;
		display:flex;
		align-items: center;
		justify-content: center;
		background-color:rgba(0,0,0,0.2);
		transition:all 0.5s ease;

		h1 {
			width:50%;
			text-align: center;
			color:white;
		}

		&:hover {
			background-color:rgba(0,0,0,0.5);
		}
	}
}

.item-1 {
	background:url('../img/caro-1.jpg') center center no-repeat;
}
.item-2 {
	background:url('../img/caro-2.jpg') center center no-repeat;
}
.item-3 {
	background:url('../img/caro-3.jpg') center center no-repeat;
}

.carousel {
	margin-bottom:60px;
}

.filter-container {
	padding: 0 80px;
	
	h2 {
		font-family: 'Lora', serif;
		font-weight:100;
	}
}

.venue-wrapper {
	display:flex;
	align-items:flex-start;
	flex-wrap: wrap;
	padding:0 80px;

	.venue-block {
		width:33%;
		padding:0 20px;
		img {
			margin-bottom:12px;
		}

		h3 {

		}
	}
}

.sponsored-venue {
	.inner {
		background:url('../img/restaurant.jpg') center center no-repeat;
		background-size:cover;
		
	}
	.wrapper {
		background-color:rgba(0,0,0,0.2);
		display:flex;
		flex-align:center;
		justify-content:center;
		flex-direction:column;
		height:400px;
		transition:all 0.5s ease;
		h1,p {
			color:white;
			text-align:center;
		}

		&:hover {
			background-color:rgba(0,0,0,0.5);
		}
	}
}

.side-bar {
			padding-left:80px;
			.wrapper {
				.advertisement {
					background-color: #e6e2d6;
					height: 1000px;

				}
			}
		}

.cta-area {
	.title {
		border-bottom:1px solid rgb(243, 244, 244);
		margin-bottom:40px;
	}
	.inner {
		display:flex;

		.side-bar {
			width:25%;
			padding-left:80px;
			.wrapper {
				.advertisement {
					background-color: #e6e2d6;
					height: 1000px;

				}
			}
		}

		.content {
			margin-bottom:30px;
		}

		.content-container {
			width:75%;
			display:flex;
			flex-direction:column;

			.image-wrapper {
				width:80%;
			}

			.content-wrapper {
				display:flex;

			}

			.copy-wrapper {
				padding-left:40px;
				display:flex;
				justify-content:center;
				flex-direction:column;
				text-align:left;

				h4 {
					margin-bottom:10px;
				}

				p {
					font-size:14px;
				}
			}
		}


	}
}

// Editorial

.editorial {
	.hero {
		margin-bottom:40px;
		.image-wrap {
		  position: relative;
		  height: 600px;
		  overflow: hidden
		}

		.regular,
		.blurred {
		  position: absolute;
		  width: 100%;
		  min-height: 600px;
		  -webkit-transform: translate3d(0, 0, 0);
		}

		.regular {
		  opacity: 1;
		}

		.blurred {
		  opacity: 0;
		}
	}

	.blog {
		display:flex;
		padding: 0 60px;

		.author {
			display:flex;
			alien-items:center;
			justify-content:center;
			.avatar-wrapper {
				width:40px;
			}
		}
		.author,.side-bar {
			width:25%;
		}

		.content {
			width: 50%;

			.copy {
				color: #333;
			    line-height: 1.7em;
			    font-size: 18px;
			}
		}
	}
}